@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  text-size-adjust: 100%;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #ccc;
  margin: 0;
  display: inline;
  position: relative;
}

h2 {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
}

img {
  display: inline-flex;
  width: 5rem;
}

hgroup {
  margin: 1.5rem;
  display: inline-flex;
  flex-wrap: wrap;
  width: 16rem;
}

h3 {
  margin: 0;
  display: inline-block;
  flex-wrap: wrap;
}

h4 {
  margin: 0;
  display: inline-block;
  flex-wrap: wrap;
}

p {
  margin: 1.5rem;
  display: inline-flex;
  width: 24rem;
}

a {
  padding: .5rem 1rem .6rem;
  display: inline-flex;
  color: #fff;
  background-color: #444;
  text-decoration: none;
  flex-wrap: nowrap;
}
