@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  text-size-adjust: 100%;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1.5rem;
  display: inline;
  position: relative;
  line-height: 1.5;
}

ul {
  padding: 1.5rem;
  width: 100%;
}

li {
  list-style: none;
  width: 100%;
}

img {
  display: inline-flex;
  width: 5rem;
}

hgroup {
  padding: 2rem;
  display: inline-flex;
  width: 16rem;
}

h3 {
  display: inline-block;
  flex-wrap: wrap;
}

h4 {
  display: inline-block;
  flex-wrap: wrap;
}

p {
  padding: 2rem;
  display: inline-flex;
  width: 24rem;
}

a {
  padding: .5rem 1rem .6rem;
  display: inline-flex;
  width: 5rem;
  color: #fff;
  background-color: #444;
}
